name: Tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11']

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Install package in edit mode
        run: |
          python -m pip install -e .

      - name: Install OpenGL dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libglu1-mesa
          
      - name: Test with pytest
        run: |
          pytest tests/
